# Mark source files explicitly
*.java linguist-language=Java
*.jsx linguist-language=JavaScript
*.js linguist-language=JavaScript
*.css linguist-language=CSS

# Mark specific source directories
demo/src/main/java/* linguist-language=Java
demo/src/main/resources/static/frontend/src/* linguist-language=JavaScript

# Ignore build artifacts
demo/target/* linguist-ignored
demo/src/main/resources/static/frontend/build/* linguist-ignored
demo/src/main/resources/static/frontend/node_modules/* linguist-ignored
demo/src/main/resources/static/static/* linguist-ignored

# Ignore Dockerfile from language stats
Dockerfile linguist-vendored 